@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="rom">
    <div class="col-md-4">
        <h2>
            Welcome to Contoso University
        </h2>
        <p>
            AAAAAAAAAAAAAAA
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            header
        </h2>
        <p>
            BBBBBBBBBBBB
        </p>
    </div>
</div>